<%- include("partials/header"); -%>

<section class="blogHome" id="blogHome">

    <div class="title">
                <div class="feature-box col-lg-12">

                    <h1>Protocol Buffer</h1>
                    <i class="icon fas fa-blog fa-6x"></i>
                    <p> What is Protocol Buffer or Protobuf? Google developed Protocol Buffers for use in their internal services. It is a binary encoding format that allows you to specify a schema for your data using a specification language, like so: message Person { required int32 id = 1; required string name = 2; ..
                    <a href="https://knapsackpy.in" target="blank">Read More</a>
                    </p>
                
                </div>

    <div class="title">

        <h2 style="color: white; margin-top: 2.8%; text-align: center; color: #88ef76;">Visit for more Blogs -->
        <a href="https://knapsackpy.in" target="blank"> knapsack.py</a>
        </h2>
    
    </div>


    </div>
    

</section>
<%- include("partials/footer"); -%>