<!-- experience section starts  -->
<%- include("partials/header") %>  


<section class="experience" id="experience">

    <h1 class="heading"> Experience </h1>

    <div class="box-container">

        <div class="box">
            <div class="content">
                <span> 2021(4 Months) </span>
                <h3>Software Engineer [Internship]</h3>
                <p>Lightcast</p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span> 2021 - current </span>
                <h3>Software Engineer</h3>
                <p>Lightcast</p>
            </div>
        </div>

    </div>

</section>

<section id="features" class="about">
    <h1 class="heading"> Skills </h1>
    <div class="row">
      
      <div class="feature-box col-lg-3">
        <i class="icon fab fa-python fa-4x"></i>
        <h3> Python</h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fab fa-python fa-4x"></i>
        <h3> Flask</h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-database fa-4x"></i>
        <h3>Spark</h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> MSSQL </h3>
      </div>
      
      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> MongoDB</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-desktop fa-4x"></i>
        <h3> NodeJs</h3>
      </div>
      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-desktop fa-4x"></i>
        <h3> Data Structures</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> Machine Learning</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-network-wired fa-4x"></i>
        <h3> Protocol Buffers</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> AWS-S3/lambda</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-desktop fa-4x"></i>
        <h3> Selenium</h3>
      </div>

    </div> 

</section>

<section id="features" class="about">
    <h1 class="heading"> Courses </h1>
    <div class="row">
      
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-server fa-4x"></i>
        <h3>Full Stack Web Development</h3>
      </div>
      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> Big Data</h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3> Database Management System </h3>
      </div>
      
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3> Protocol Buffers</h3>
      </div>

    </div> 

</section>

<section id="features" class="about">
  <h1 class="heading">Courses - Inprogress</h1>
  <div class="row">
    
    <div class="feature-box col-lg-12">
      <i class="icon fas fa-server fa-4x"></i>
      <h3>Data Science</h3>
    </div>
  </div>
</section>    


<%- include("partials/footer") %> 