<!-- experience section starts  -->
<%- include("partials/header") %>  


<section class="experience" id="experience">

    <h1 class="heading"> Experience </h1>

    <div class="box-container">
        
        <div class="box">
          <div class="content">
              <span> 2025 - current </span>
              <h3>Software Engineer L2</h3>
              <p>Scry AI</p>
          </div>
        </div>

        <div class="box">
          <div class="content">
              <span> 2023 - 2025(2 years) </span>
              <h3>Software Engineer L1</h3>
              <p>Scry AI</p>
          </div>
        </div>

        <div class="box">
            <div class="content">
                <span> 2021 - 2023(2 years) </span>
                <h3>Software Engineer</h3>
                <p>Lightcast</p>
            </div>
        </div>

        <div class="box" >
            <div class="content">
                <span> 2021(4 Months) </span>
                <h3>Software Engineer [Intern]</h3>
                <p>Lightcast</p>
            </div>
            
        </div>


    </div>

</section>


<section id="features" class="about">
    <h1 class="heading"> Skills </h1>
    <div class="row">
      
      <div class="feature-box col-lg-3">
        <i class="icon fab fa-python fa-4x"></i>
        <h3> Python</h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fab fa-python fa-4x"></i>
        <h3> Flask</h3>
      </div>
      <div class="feature-box col-lg-3 ">
        <i class="icon fab fa-python fa-4x"></i>
        <h3> Machine Learning </h3>
      </div>
      <div class="feature-box col-lg-3 ">
        <i class="icon fab fa-python fa-4x"></i>
        <h3> LLM </h3>
      </div>
      
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-network-wired fa-4x"></i>
        <h3>Spark</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-network-wired fa-4x"></i>
        <h3> Kafka</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-network-wired fa-4x"></i>
        <h3> Docker</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-network-wired fa-4x"></i>
        <h3> AWS </h3>
      </div>

      <div class="feature-box col-lg-3">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> MSSQL </h3>
      </div>
      
      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> MongoDB</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> Snowflake</h3>
      </div>

      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> Data Structures</h3>
      </div>

    </div> 

</section>

<section id="features" class="about">
    <h1 class="heading"> Certifications </h1>
    <div class="row">

      <div class="feature-box col-lg-3">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3> Palantir - Data Engineer</h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-server fa-4x"></i>
        <h3>Full Stack Web Development</h3>
      </div>
      <div class="feature-box col-lg-3 ">
        <i class="icon fas fa-database fa-4x"></i>
        <h3> Big Data - Spark </h3>
      </div>
      <div class="feature-box col-lg-3">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3> Data Structures and Algorithms</h3>
      </div>

    </div> 

</section>


<%- include("partials/footer") %> 